:root {
  --teal: #00c1b5;
  --orange: #ff651a;
  --yellow: #ffbe00;
  --blue: #1d3fbb;
  --red: #e30512;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  height: 100%; /* Used to enable scrolling */
  background: var(--teal);
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 0 1%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  
}
