:root {
  --teal: #00c1b5;
  --orange: #ff651a;
  --yellow: #ffbe00;
  --blue: #1d3fbb;
  --red: #e30512;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-color: var(--teal);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  padding: 1%;
  margin: 0 auto;
  
  text-align: center;
}

* {
  outline: 1px solid red;
}
